# Monorepo wide ignores
**/.venv/
**/node_modules/
**/__pycache__/
**/*.py[cod]
**/dist/
**/target/
**/.pytest_cache/
**/coverage/

# Environment & Secrets
**/.env
**/.env.*
!.env.example

# Git & Metadata
.git/
.github/
.vscode/
.idea/
docs/
*.md
!README.md
